#===============================================================================
# build artefacts
build*/**

#===============================================================================
# test artefacts
test/imgseg
test/output/*
test/


#===============================================================================
# vscode
.vscode
