#===============================================================================
# build artefacts
build*/**

#===============================================================================
# test artefacts
test/imgseg
test/output/*


#===============================================================================
# vscode
.vscode
